.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.order-card {
  color: #fff;
}

.bg-c-blue {
  background: linear-gradient(45deg,#bc4e9c,#f80759);
}

.bg-c-green {
  background: linear-gradient(45deg,#00b09b,#96c93d);
}

.bg-c-yellow {
  background: linear-gradient(45deg,#fc4a1a,#f7b733);
}

.bg-c-pink {
  background: linear-gradient(45deg,#093028,#237A57);
}

.bg-gr{
  background: linear-gradient(45deg, #56ab2f, #a8e063);
}
